
body{ color:#333; font-size:13px;}
h3,ul,li{margin:0;padding:0; list-style:none;}
.scrollbox{ 
  width: 250px; 
  height:278px;
  margin: 0 auto; 
  overflow: hidden; 
  border: 1px solid black; 
  padding: 13px; 
}
#scrollDiv{width:250px;height:280px; overflow:hidden;}/*这里的高度和超出隐藏是必须的*/
#scrollDiv li{max-height:90px; width:300px; padding:0 20px;background:url(ico-4.gif) no-repeat 10px 23px; overflow:hidden; vertical-align:bottom; zoom:1; border-bottom:#B7B7B7 dashed 1px;}
#scrollDiv li h3{ height:24px; padding-top:13px; font-size:14px; color:#353535; line-height:24px; width:300px;}
#scrollDiv li h3 a{color:#353535; text-decoration:none}#scrollDiv li h3 a:hover{ color:#F00}
#scrollDiv li div{
  height:36px;
  width:305px;
  color:#416A7F;
  line-height:18px;
  overflow:hidden
   text-align:center;
}
#scrollDiv li div a{ color:#416A7F; text-decoration:none}

#scrollDiv1{width:250px;height:280px; overflow:hidden;}/*这里的高度和超出隐藏是必须的*/
#scrollDiv1 li{max-height:90px; width:300px; padding:0 20px;background:url(ico-4.gif) no-repeat 10px 23px; overflow:hidden; vertical-align:bottom; zoom:1; border-bottom:#B7B7B7 dashed 1px;}
#scrollDiv1 li h3{ height:24px; padding-top:13px; font-size:14px; color:#353535; line-height:24px; width:300px;}
#scrollDiv1 li h3 a{color:#353535; text-decoration:none}#scrollDiv1 li h3 a:hover{ color:#F00}
#scrollDiv1 li div{
  height:36px;
  width:305px;
  color:#416A7F;
  line-height:18px;
  overflow:hidden
   text-align:center;
}
#scrollDiv1 li div a{ color:#416A7F; text-decoration:none}



