*{
  margin:0;
  padding:0;
}
#tou{
  margin:0 auto;
  width: 1206px;
  height:256px;
  background:yellow;
}
#logo{
  background:beige;
  width:254px;
  height:259px;
  float: left;
}
#logo img{
  width:252px;
  border:solid 1px white;
   border-radius:50%;
}
header{
  width:952px;
  float: left;
  position: relative;
  z-indenx:0;
}
/* 注册相关 */
#zi{
  position:absolute;
  z-indenx:2;
  left:440px;
   top:0px;

}
#zi pre{
  font-family: 黑体;
  font-size: 20px;
}
header img{
  width:952px;
  height:259px;
}
/* 导航 */
#nav{
  width:1206px;
  height:121px;
   background: black;
  margin:0 auto;
}
#nav ul{ 
  list-style: none;
  background:red;
  
}
#nav ul li{
 float: left;
 text-align:center;
  margin:33px;
}
#nav ul li a{
  text-decoration:none;
  font-size:30px;
  color:white;
 font-family:宋体;
  line-height: 52px;
  position: relative;
  top: -52px;
}
/* 实现新闻的线条效果 */
.svg-wrapper {
  margin: 0 auto;
  position: relative;
  top: 15px;
  left: 10px;
  transform: translateY(-50%);
  width: 120px;
  height:6px;
}
.shape {
  fill: transparent;
  stroke-dasharray: 140 540;
  stroke-dashoffset: -474;
  stroke-width: 8px;
  stroke:white;
}
@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
}
.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}
#bang{
  width:1206px;
  height:40px;
  line-height:40px;
  background:beige;
  margin:0 auto;
  text-align:center;
  font-size:30px;
  font-family:宋体;  
}
.min{
  width:150px;
  height:50px;
  overflow-y:auto;
  padding-top:2px;
  margin-left:15px;
  font-size:9.7px;
}
.like{
  margin-left:1px;
  background:gray;
  border-radius:10px;
  color:red;
  cursor:pointer;
}
.dislike{
  width:50px;
  margin-left:110px;
  color:white;
  margin-top:-2px;
  cursor:pointer;
  border-radius:10px;
  background:black;
  position:absolute;
}
input{
  width:10px;
  height:15px;
  float:left;
  width:100px;
  overflow-x:auto;
  position:absolute;
}
.tel{
  margin-left:1px;
  color:black;
  cursor:pointer;
  font-size:12px;
  border:5px solid beige;
  border-radius:5px;
  background:beige;
}
#test{
  width:1206px;
  height:725px;
  background:beige;
  margin:0 auto;
}
#a{
  overflow:hidden;
  float:left;
  margin-left:25px;
}
#test1{
  width:350px;
  height:100px;
  background:white;
}
#test1 h3{
  float:left;
  margin:0 auto;
  width:80px;
  text-align:center;
  height:100px;
  line-height:100px;
}
#test1 img{
  width:100px;
  height:100px;
  float:left;
}
.ding{
  width:170px;
  height:102px;
  margin-left:180px;
  position:relative;
}
#test1 p{
  width:80px;
  height:100px;
  line-height:40px;
  margin-left:50px;
  float:left;
}
#b{
  float:left;
  overflow:hidden;
  margin-left:25px;
}
#shu{
  margin-left:20px;
}
#test2{
  width:350px;
  height:100px;
  margin-left:20px;
  background:white;
}
#test2 h3{
  float:left;
  margin-left:350px;
  margin:0 auto;
  width:80px;
  text-align:center;
  height:100px;
  line-height:100px;
}
#test2 img{
  width:100px;
  height:100px;
  float:left;
}
#test2 p{
  width:80px;
  height:100px;
  line-height:40px;
  margin-left:50px;
  float:left;
}
#c{
  float:left;
  overflow:hidden;
  margin-left:25px;
}
#yun{
  margin-left:20px;
}
#test3{
  width:350px;
  height:100px;
  margin-left:20px;
  background:white;
}
#test3 h3{
  float:left;
  margin-left:350px;
  margin:0 auto;
  width:80px;
  text-align:center;
  height:100px;
  line-height:100px;
}
#test3 img{
  width:100px;
  height:100px;
  float:left;
}
#test3 p{
  width:80px;
  height:100px;
  line-height:40px;
  margin-left:50px;
  float:left;
}
/* 版权 */
footer{
  background:black;
  width:1206px;
  height:150px;
  line-height:45px;
  font-family:宋体;
  font-size:15px;
  color:beige;
  text-align: center;
  margin:0 auto;
  position:relative;
  overflow:hidden;
}
#biao1{
  width:280px;
  height:40px;
  margin-left:450px;
  margin-top:30px;
  position:absolute;
}
#biao2{
  width:280px;
  height:40px;
  margin:0 auto;
  margin-top:80px;
  margin-left:450px;
  position:absolute;
}
#lian{
  float:left;
  margin-left:950px;
}
#bia{
  width:80px;
  height:80px;
  margin-left:850px;
  margin-top:50px;
  position:relative;
}
#biao3{
  width:80px;
  height:80px;
  float:left;
  position:absolute;
}
#biao3 img{
  width:80px;
  height:80px;
}
#biao5{
  width:80px;
  height:80px;
  float:left;
  display:none;
}
#biao5 img{
  width:80px;
  height:80px;
}
#bia1{
  width:80px;
  height:80px;
  margin-left:940px;
  margin-top:-80px;
}
#biao4{
  width:80px;
  height:80px;
}
#biao4 img{
  width:80px;
  height:80px;
}
#biao6{
  width:80px;
  height:80px;
  float:left;
  display:none; 
}
#biao6 img{
  width:80px;
  height:80px;
}
#bia2{
  width:80px;
  height:80px;
  margin-left:1040px;
  margin-top:-80px;
}
#biao7{
  width:75px;
  height:75px;
}
#biao7 img{
  width:80px;
  height:80px;
}
#biao8{
  width:80px;
  height:30px;
  margin-left:75px;
  margin-top:-58px;  
  display:none;
}
#biao8 p{
  width:80px;
  height:80px;
}
